@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Hindi Words:</h3>
<div>
    @await Component.InvokeAsync("WordList", new { language = 3, limit = 0 })
</div>